body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 40px;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
